<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (4.1)</string>
	<string>M9.1-6369-2</string>
	<string>G-r410-4B101</string>
	<string>M10.1-6913-2</string>
	<string>G-r1010-10B151</string>
	<string>G-r1020-10C141</string>
	<string>G-r1010-10B151</string>
	<string>G-r1020-10C141</string>
	<string>G-r1010-10B151</string>
	<string>G-r1020-10C141</string>
</array>
</plist>
