<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501508229308-d0c3osb0tv0j82uodqfcl025372ru4ct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501508229308-d0c3osb0tv0j82uodqfcl025372ru4ct</string>
	<key>API_KEY</key>
	<string>AIzaSyCnW6m40S6oxsMdjrIElbESVCNFxCd1fmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>501508229308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sardart.YoulaLight</string>
	<key>PROJECT_ID</key>
	<string>youla-light</string>
	<key>STORAGE_BUCKET</key>
	<string>youla-light.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501508229308:ios:9e841121044ccf4395a8b9</string>
</dict>
</plist>